<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<div>
    <div>
        <a th:href="@{/list}">Go back</a>
    </div>
</div>
<div>
    <form th:action="@{/form}" method="post" th:object="${product}" enctype="multipart/form-data">
        <input type="hidden" th:if="${product.id != null}" th:field="*{id}">
        <div><label for="name">Name</label>
            <div><input id="name" th:field="*{name}" type="text"></div>
            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
        </div>
        <div><label for="price">Price</label>
            <div><input id="price" th:field="*{price}" type="text"></div>
            <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
        </div>
        <div><label for="category.id">Category</label>
            <div><select id="category.id" th:field="*{category.id}">
                <option value="">--Select option--</option>
                <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select> </div>
            <small th:if="${#fields.hasErrors('category.id')}" th:errors="*{category.id}"></small>
        </div>
        <div><label for="createAt">Date</label>
            <div><input id="createAt" th:field="*{createAt}" type="date"></div>
        </div>
        <div><label for="image">Image</label>
            <div><input id="image" th:field="*{file}" type="file" name="file"></div>
        </div>
        <div>
            <div><input th:value="${button}" type="submit"></div>
        </div>
    </form>
</div>
</body>
</html>