<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<div th:if="${param.error != null}" th:text="${param.error}"></div>
<div th:if="${param.error != null}" th:text="${param.success}"></div>
<div>
    <h1 th:text="${title}"></h1>
</div>
<div>
    <a th:href="@{/form}">Register new product</a>
</div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Created at</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${productsList}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
            <td th:text="${p.category.name}"></td>
            <td th:text="${p.createAt}"></td>
            <th><a th:href="@{/form/} + ${p.id}">Edit</a></th>
            <th><a th:href="@{/delete/} + ${p.id}" onclick="return confirm('Are you sure to delete this record?')">Delete</a></th>
        </tr>
        </tbody>
    </table>
</body>
</html>